# Project
COMPOSE_PROJECT_NAME=apptech-assessment

# PostgreSQL
POSTGRES_CONTAINER_NAME=postgres
POSTGRES_DB=Assessment
POSTGRES_USER=root
POSTGRES_PASSWORD=myPassword
POSTGRES_PORT=5432

# Redis
REDIS_CONTAINER_NAME=redis
REDIS_PORT=6379

# Backend
API_CONTAINER_NAME=api
API_HTTP_PORT=8080
ASPNETCORE_ENVIRONMENT=Development

# Angular
ANGULAR_CONTAINER_NAME=angular
ANGULAR_PORT=4200

# URLs
API_SELF_URL=http://localhost:8080
ANGULAR_URL=http://localhost:4200

# ABP / Auth
AUTHORITY=http://localhost:8080
REQUIRE_HTTPS_METADATA=false